In [4]:
import os
import pandas as pd

os.getcwd()

In [7]:
os.getcwd()

'c:\\Users\\SMKazmi\\Resources\\Project-MAZE\\Saiyid'

# Transform

In [8]:
museums_df = pd.read_csv('../Data/museums.csv')
museums_df = museums_df.drop(columns=["Alternate Name", "Institution Name"])
museums_df.head()

C:\Users\SMKazmi\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (9,14,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Museum ID,Museum Name,Legal Name,Museum Type,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),Street Address (Physical Location),City (Physical Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
0,8400200098,ALASKA AVIATION HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,4721 AIRCRAFT DR,ANCHORAGE,AK,99502,NaN,NaN,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,NaN,NaN,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,9711 KENAI SPUR HWY,KENAI,AK,99611,NaN,NaN,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
3,8400200143,ALASKA EDUCATORS HISTORICAL SOCIETY,ALASKA EDUCATORS HISTORICAL SOCIETY,HISTORIC PRESERVATION,214 BIRCH STREET,KENAI,AK,99611,NaN,NaN,...,60.56280,-151.26597,3.0,122.0,2.0,6,920165178,201412.0,0.0,0.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,NaN,NaN,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0

In [11]:
museums_df = museums_df.drop(columns=["Street Address(Physical Location)", "City(Physical Location)"])
museums_df.head()

KeyError: "['Street Address(Physical Location)' 'City(Physical Location)'] not found in axis"